@charset "UTF-8";
body {
  background: url("/static/img/new_back.svg") no-repeat center top;
}

.btn-reg {
  position: absolute;
  width: 263px;
  height: 68px;
  left: 1465px;
  top: 100px;
  background: #F1F1EF;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.txt-reg {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #00B4DC;
  top: 5px;
  letter-spacing: 2px;
}

.btn-add {
  position: absolute;
  width: 232px;
  height: 68px;
  left: 1107px;
  top: 100px;
  border: 1.5px solid #F1F1EF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.txt-add {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 1px;
  color: #F1F1EF;
}

.soul {
  position: absolute;
  width: 537px;
  height: 181px;
  left: 1107px;
  top: 257px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
}

.find {
  position: absolute;
  width: 546px;
  height: 75px;
  left: 1107px;
  top: 489px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FDED9D;
}

.whatsapp {
  position: absolute;
  width: 49px;
  height: 50px;
  left: 1447px;
  top: 862px;
  border: none;
  background: url("/static/img/вотсаб.svg");
}

.insta {
  position: absolute;
  width: 49px;
  height: 50px;
  left: 1518px;
  top: 862px;
  background: url("/static/img/inst.svg");
}

.twitter {
  position: absolute;
  width: 49px;
  height: 50px;
  left: 1589px;
  top: 862px;
  background: url("/static/img/Твитр.svg");
}

.facebook {
  position: absolute;
  width: 49px;
  height: 50px;
  left: 1660px;
  top: 862px;
  background: url("/static/img/фейсбук.svg");
}

.kids {
  position: absolute;
  width: 117px;
  height: 121px;
  left: 150px;
  top: 68px;
}

.mirniy {
  position: absolute;
  width: 92.07px;
  height: 42.78px;
  left: 155px;
  top: 203px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.polygon {
  position: absolute;
  width: 17px;
  height: 10px;
  left: 246px;
  top: 219px;
}
/*# sourceMappingURL=main.css.map */