<!doctype html>
{% load static %}
<html>
  <head>
     <meta charset="utf-8">
     <meta name="viewport" conten="width=device-width, initial-scale=1.0">
     <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'css/all.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/hackaton-super.css' %}">
     <title>For Hackaton</title>
  </head>
  <body>
   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> WITCH <i class="fab fa-edge-legacy"></i> R </a>
         </div> 
         <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
               <li class="active"> <a href="#"> Домой </a> </li>
               <li> <a href="#"> Про нас </a> </li>
               <li> <a href="#"> Сервисы </a> </li>
               <li> <a href="#"> Работы </a> </li>
               <li> <a href="#"> <i class="fa fa-envelope-o>"> </i> </a> </li>
            </ul>
         </div>
      </div>
   </div>
   <div id="headerwrap">
      <div class="container">
         <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
               <h1>Chechnya kruto!</h1>
               <h2>Бутстрап рулит!</h2>
            </div>
         </div>
      </div>
   </div> 
   <div class="container w">
      <div class="row centered"> 
         <br> <br>
         <div class="col-lg-4">
            <i class="fa fa-heart"></i>
            <h4> Последнее желание </h4>
            <p> Она пришла под утро.
               Вошла осторожно, тихо, бесшумно ступая, плывя по комнате, словно призрак, привидение, 
               а единственным звуком, выдававшим ее движение, был шорох накидки, прикасавшейся к голому телу.
            </p>
         </div>
         <div class="col-lg-4">
            <i class="fa fa-laptop"></i>
            <h4> Геральт из Ривии </h4>
            <p> Незнакомец не был стар, но волосы у него были почти совершенно белыми. Под плащом он носил потертую кожаную куртку со шнуровкой у горла и на рукавах. Когда сбросил плащ, стало видно, что на ремне за спиной у него висит меч. Ничего странного в этом не было, в Вызиме почти все ходили с оружием, правда, никто не носил меч на спине, словно лук или колчан.

            </p>
         </div>
         <div class="col-lg-4">
            <i class="fa fa-trophy"></i>
            <h4> Цирилла Фиона Элен Рианнон </h4>
            <p> — Ты смеешься над Предназначением. Насмехаешься над ним, играешь с ним. У Меча Предназначения два острия. Одно из них — ты. Другое — смерть? Но это умираем мы, умираем из-за тебя. Тебя смерть не может достать, поэтому довольствуется нами. Смерть следует за тобой по пятам, Белый Волк. Но умирают другие. Из-за тебя.
            </p>
         </div>
      </div>
      <br> <br>
   </div> 
   <div id="dg">
      <div class="container">
         <div class="centered">
            <h4> Работы Сапковского </h4>
            <br>
            <div class="col-lg-4">
               <div class="tilt">
                  <a href="#"> <img src="/static/img/p01.png"> </a>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="tilt">
                  <a href="#"> <img src="/static/img/p02.png"> </a>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="tilt">
                  <a href="#"> <img src="/static/img/p03.png"> </a>
               </div>
            </div>

         </div>
      </div>
   </div>
   <div class="container wb">
      <div class="row centered">
         <br>
         <br>
         <div class="col-lg-8 col-lg-offset-2">
            <h4> Я создаю сайт ежже </h4>
            <p>
               Я бью женщин и детей, потому что я красавчик
               Потому что я сильней и они не могут сдачи дать мне
               Женщин и детей бить неправильно, я знаю
               Но бью женщин и детей и я самоутверждаюсь
               О-о-о
            </p>
            <p> <br> <br> </p>
         </div>
         <div class="col-lg-2"></div>
         <div class="col-lg-10 col-lg-offset-1">
            <img src="/static/img/munter.png" alt="" class="img-responsive">
         </div>
      </div>
   </div>
   <div id="lg">
      <div class="container">
         <div class="row centered">
            <h4> Мои кореша </h4>
            <div class="col-lg-2 col-lg-offset-1">
               <img src="/static/img/c01.gif" alt="">
            </div>
            <div class="col-lg-2 ">
               <img src="/static/img/c02.gif" alt="">
            </div>
            <div class="col-lg-2">
               <img src="/static/img/c03.gif" alt="">
            </div>
            <div class="col-lg-2">
               <img src="/static/img/c04.gif" alt="">
            </div>
            <div class="col-lg-2">
               <img src="/static/img/c05.gif" alt="">
            </div>
            
         </div>
      </div>
   </div>
   <div id="r">
      <div class="container">
         <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
               <h4> Разработка сайтов на любительском уровне </h4>
               <p> Значит, объясняю. Если вы такой хороший хозяин, что у вас котенок умудрился свалиться в мусоропровод, то, во-первых, не надо прыгать и вопить "Барсик, милый, сука, держись!" 
                  Потому что держаться там не за что. Не надо пытаться пробить мусоропровод кувалдой, глухой котенок-идиот не будет за это вам благодарен. 
                  Не нужно пытаться достать его проволочным крюком, дырявый котенок-инвалид тоже не будет вам лучшим другом. 
                  Нужно просто взять в дрожащую руку телефон, а недрожащей набрать 0911. Я приеду, разверну котенкодоставатель и все сделаю за минуту.
               </p>
            </div>
         </div>
      </div>
   </div>
   <div id="f">
      <div class="container">
         <div class="row centered">
            <a href="#"><i class="fab fa-twitter"></i></a> 
            <a href="#"><i class="fab fa-facebook"></i></a>    
            <a href="#"><i class="fab fa-vk"></i></a> 
         </div>
      </div>
   </div>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>