{% load static %}
<html>
    <head>
        <title> Студии </title>
        <meta charset="utf-8">
        <meta name="viewport" conten="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">    
    </head>
    <body>
        <img src="/static/img/logo_kids.svg" class='kids'>
        <span class='mirniy'> Мирный </span>
        <img src="/static/img/Polygon 1.png" class='Polygon'>
        <a href='#' class='txt-reg'>
            <div class='btn-reg'> 
                Зарегистрироваться
            </div>
        </a>
        <!-- <select>
            <option> <p class='for-select'> Мирный </p></option>
            <option> Якутск </option>
        </select> -->
        <a href='#' class='txt-add'>
            <div class='btn-add'> 
                Добавить центр
            </div>
        </a>
        <div class='soul'>
            Найди себе <br> дело по душе
        </div>
        <div class='find'>
            Поиск кружка, секции, развлечения и лагеря для детей от 5 до 18 лет 
        </div>
        <div>
            <a href="#" class='whatsapp'>
            <a href="#" class='insta'>
            <a href="#" class='twitter'>
            <a href="#" class='facebook'>
        </div>
    </body>
</html>